/*This is code written by Frederik Alexander Hounsvad
The use of this code in a non commercial and non exam environment is permitted
*/
/* 
    Created on : 22-Apr-2019, 22:09:30
    Author     : Hounsvad
*/

* {
    -fx-primary : #2E4057;
    -fx-secondary : #048BA8;
}

.button{
    -fx-text-fill: -fx-primary;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-size: 29pt;
    -fx-padding:0px;
}